.subscribe-button {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 8px; 
    margin-bottom: 8px;
    font-size: 14px;    
    
}
.subscribe-button:hover{
    background-color: yellowgreen;
    color: black;

    transition: box-shadow 1s,background-color 1s,
    color 1s;

    box-shadow: 5px 5px 5px rgba(108,117,125,16);

}
.subscribe-button:active{
    opacity: 0.5;
}
.join-button{
    height: 30px;
    width: 60px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(110, 168, 238);
    background-color: white;
    color: rgb(110, 168, 238);
    border-radius: 2px;
    font-size: 14px;
    margin-bottom: 8px;
}
.tweet-button{
    height: 30px;
    width: 70px;
    color:white;
    background-color: rgb(110, 168, 238);
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
}
.uber-button{
    width: 120px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
}
.uber-button:hover{
    transition: 1s;
    opacity: 0.7;
}

.amazon-button{
    height: 30px;
    width: 150px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    background-color: rgb(255,216,20);
    color: black;
    /* border: rgb(255,216,20); */
    border: none;
    border-radius: 13px;
    font-size: 14px;
}
.amazon-button:hover{
    background-color: rgb(250, 230, 152);
}

.github-button{
    border: white;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: white;
    font-size: 14px;
    background-color: rgb(46,164,79);
    font-weight: bold;
}
.github-button:hover{

    /* transition: box-shadow 1s,background-color 1s,
    color 1s; */

    box-shadow: 5px 5px 5px rgba(108,117,125,5);
}

.bootstrap-get-button{
    height: 30px;
    width: 100px;
    /* border-color: rgb(121,82,179); */
    border: none;
    font-size: 14px;
    font-weight: bold;;
    color: white;
    background-color: rgb(121,82,179);
    margin-bottom: 8px;
    border-radius: 5px;
}
.bootstrap-download-button{
    height: 30px;
    width: 100px;
    border: solid 0.5px;
    border-radius: 5px;
    color: rgb(108,117,125);
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    margin-left: 8px;
}
.linkedin-apply-button{
    height: 30px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(10,102,194);
    margin-right: 8px;
}
.linkedin-save-button{
    height: 30px;
    width: 70px;
    border: solid 0.5px;
    border-radius: 15px;
    border-color: rgb(10,102,194);
    color: rgb(10,102,194);
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}